* {
  font-family: "Yantramanav", sans-serif;
}
/* @font-face {
  font-family: "Yantramanav", sans-serif;
  font-display: auto;
  src: local('Arvo'), url(https://fonts.googleapis.com/css?family=Yantramanav&display=swap) format('woff2');
} */

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(204, 204, 204);
}

.btn-primary {
  background: #343a40;
  border-color: #343a40;
  color: rgb(0, 191, 255);
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled):hover {
  background: #3c4c5a;
  border-color: #343a40;
  color: #fff;
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):visited,
.btn-primary:not(:disabled):not(.disabled):visited,
.btn-primary:not(:disabled):not(.disabled):active {
  background: #343a40;
}

.btn-primary:focus,
.menuBtnSelected {
  background: rgb(0, 191, 255) !important;
  color: #343a40 !important;
  border: #343a40 !important;
}

.search {
  background: #df3e30;
  border-color: #df3e30;
  color: #fff;
  font-family: "Yantramanav", sans-serif;
  font-weight: bold;
}
.search:hover {
  background: #ec7266;
  border-color: #ec7266;
}

.search:focus {
  background: #ffc1bb;
  border-color: #ffc1bb;
  color: #343a40;
}

.fast-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

a {
  text-decoration: none !important;
}

.row {
  margin-right: -10px !important;
  margin-left: -10px !important;
}

/* ================== OVERLAY ================== */

.overlay-container {
  background: rgba(1, 1, 1, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999999999999999;
}

@media (max-width: 576px) {
  .container {
    padding: 0 !important;
  }
}

.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 10ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 10ms ease-in;
}
