@media (max-width: 992px) {
  .NoPad {
    /* padding: 1px !important;
    padding-right: 5px !important; */
  }

  .Basic {
    /* position: absolute;
    right: 0;
    bottom: 65px;
    left: 0;
    z-index: 1030;
    border: none !important;
    padding: 0 10px; */
    border: none !important;
  }
}

@media (min-width: 992px) {
  .Basic {
    /* width: 300px; */
    height: 100px;
  }
}
