.MediaCard {
  min-height: 160px;
}
.Image {
  width: 120px;
  margin-right: 15px;
}
.Title {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.Button {
  bottom: 0;
}
@media only screen and (max-width: 992px) {
  .Image {
    width: 110px;
    margin-right: 10px;
  }
}
