.openContainer {
  /* width: 400px; */
  opacity: 1;
  margin-right: 15px;
  margin: auto;
}

.BasicInput {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: 2px solid #00bfff;
  border-radius: 5px;
  margin: auto;
  height: 40px;
  font-size: 18px;
}

@media only screen and (min-width: 993px) {
  .openContainer {
    margin-right: 0px;
    margin: auto;
  }
}

/* @media only screen and (max-width: 575px) {
  .Media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
} */
