.Paragraph {
  font-family: "Yantramanav", sans-serif;
}

.ParagraphSearch {
  composes: Paragraph;
  font-size: 15px;
}

@media (max-width: 450px) {
  .Icon {
    font-size: 80%;
  }
}

@media (max-width: 992px) {
  .Button {
    padding: 5px 20px !important;
  }
}

.Button {
  /* height: 150px; */
  font-size: 20px;
  /* padding: 50px; */
  /* margin: 2px; */
}

.ButtonSelected {
  background: rgb(0, 191, 255) !important;
  color: #343a40 !important;
  border: #343a40 !important;
}

.SearchBtnSelected {
  background: #ffc1bb;
  border-color: #ffc1bb;
  color: #343a40;
}

.SearchBtn {
  background: #df3e30 !important;
  border-color: #df3e30 !important;
  color: #fff !important;
  font-family: "Yantramanav", sans-serif !important;
  font-weight: bold !important;
}
