.Jb {
  position: relative;
  background: #fff;
  z-index: 0;
}

.Image {
  max-width: 300px;
  position: absolute;
  right: 0;
  top: 70px;
  z-index: -1;
}

.Title {
  width: 100%;
}

.Lead {
  width: 100%;
}

.Hide {
  visibility: hidden;
}

@media (min-width: 768px) {
  .Title {
    width: 75%;
  }
  .Lead {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .Lead {
    width: 75%;
  }
}
