.Overlay {
  width: 95vw;
  height: 80vh;
  background-color: black;
  overflow: hidden;
  border: none;
  border-radius: 1%;
  max-width: 1140px;
}

.CloseBtn {
  width: 30px;
  cursor: pointer;
  color: red;
}

.Scroll {
  overflow: scroll;
}
