.Brand {
  font-family: "Pacifico", cursive;
  font-size: 32px;
  /* color: #36b0d8; */
  color: rgb(0, 191, 255);
  transform: rotate(-6deg);
  text-decoration: underline;
}

.Pointer {
  cursor: pointer;
}
.Pointer:hover {
  background-color: transparent !important;
}

.User {
  composes: Pointer;
  /* color: #07a2d5; */
  color: rgb(0, 191, 255);
}

.Log {
  font-family: "Yantramanav", sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
.Log:hover {
  color: rgb(0, 191, 255) !important;
  font-weight: bold;
}
.Link:hover {
  text-decoration: none !important;
}

/* .Login {
  composes: Log;
}
 */

.Dropdown {
  color: rgb(0, 191, 255);
  background: none;
  border: none;
  box-shadow: none;
}

.DropdownContent {
  composes: Dropdown;
  background: #343a40;
  margin-left: 17px !important;
}
.Logout {
  composes: Log;
}
