.Content {
  height: 66vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 2px solid lightgray;
}
@media only screen and (max-width: 992px) {
  .Content {
    height: 55vh !important;
  }
  .FieldTitle {
    font-size: 25px;
  }
}

@media only screen and (min-height: 670px) {
  .Content {
    height: 65vh !important;
  }
}

/* @media only screen and (max-width: 576px) {
  .Content {
    height: 58vh !important;
  }
} */
